* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header {
  min-height: 10vh;
  background-color: #f8f4f0;
  display: grid;
  place-items: center;
}
.logo {
  color: #6e4a9e;
  text-transform: uppercase;
  justify-self: start;
  padding: 16px;
}
#main-description {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-rows: auto;
  align-items: start;
  justify-items: center;
  margin: 16px auto;
}
#meet-team,
#our-products {
  width: 90%;
  min-height: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  place-items: center;
  gap: 16px;
  margin: 16px auto;
}

@media only screen and (min-width: 720px) {
  #our-products {
    grid-template-columns: repeat(auto-fit, minmax(441px, 1fr));
  }
}

.team-highlights {
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #ecedef;
}
.team-image {
  margin-top: 16px;
}
.team-title {
  color: #6e4a9e;
  font-size: 1.4rem;
  padding: 13px;
}
.team-body {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1.12px;
  line-height: 24px;
  font-weight: 900;
  color: #9b7cc4;
  padding: 16px;
  display: none;
}
@media only screen and (min-width: 720px) {
  .team-body {
    display: block;
  }
}
.team-body span {
  color: rgb(247, 132, 86);
}

.productOne,
.productTwo {
  background-color: #ecedef;
  width: 100%;
  height: 100%;
  display: grid;
  justify-self: center;
  align-self: center;
}

@media only screen and (min-width: 1000px) {
  .productOne,
  .productTwo {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
.productOne-img,
.productTwo-img {
  width: 100%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

@media only screen and (min-width: 1000px) {
  .productTwo-img {
    order: 2;
  }
}

.productOne p,
.productTwo p {
  width: 90%;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1.12px;
  line-height: 24px;
  justify-self: center;
  align-self: center;
  color: #6e4a9e;
  padding: 16px;
}

#footer {
  min-height: 10vh;
  background-color: #f8f4f0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  font-size: 1.7rem;
  place-items: center;
  padding: 1rem;
}
.footer-card {
  width: 90%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.social,
.contact,
.news-letter {
  width: 100%;
  min-height: 70%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
#footer h3,
button,
.social-media {
  color: #6e4a9e;
  font-size: 0.7em;
  text-align: center;
  text-decoration: none;
}

#footer h3 {
  font-size: 0.7em;
  justify-self: center;
  align-self: end;
}
.social-nav {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.btn-holder {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.contact-btn {
  background-color: #6e4a9e;
  width: 70%;
  text-align: center;
  border: none;
  border-radius: 10px;
  padding: 5.9px;
  margin: 10px;
}
.contact-btn a {
  color: #ecedef;
  text-decoration: none;
}
.pages-links a {
  font-size: 0.7em;
  text-decoration: none;
  color: #7e4fbd;
  padding: 16px;
}
